// * {
//     margin: inherit;
//     padding: 0;
// }

* {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
  
*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: $primary;
    background: linear-gradient(rgba(27,69,143,1) 0%, rgba(0,85,168,1) 50%, rgba(0,123,255,1) 100%);

    color: var(--TextColor);

    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    font-variant-ligatures: no-common-ligatures;

    font-size:18px;
    font-weight:400;
}

h1, h2, h3, h4, p {
    // font-family: "TTCommons";
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-weight: 500;
}
h1, .h1 {
    font-size: 84px;
}
h2, .h2 {
    font-size: 66px;
    line-height: 80px;

    @media(max-width: 1600px) {
        font-size: 64px;
    }

    @media(max-width: 1440px) {
        font-size: 54px;
        line-height: 60px;
    }

    @media(max-width: 1170px) {
        font-size: 40px;
        line-height: 44px;
    }
}
h3, .h3 {
    font-size: 34px;
}
h4, .h4 {
    font-size: 24px;
}
p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.small-figcaption {
    margin-top: 17px;
    font-size: 18px;
    span {
        margin-left: 10px;
    }
    @media(max-width: 767px){
        margin-top: 10px;
    }
}

p span {
    color: #757575;
    font-size: 18px;
}

a {
    color: var(--TextColor);
    text-decoration: none;
    border-bottom: 1px solid var(--AltColor);

    &:hover, &:focus {
        color: var(--AltColor);
        text-decoration: none;
        border-bottom: 1px solid var(--AltColor);
    }
}


.button {
    display: inline-block; 
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    color: var(--TextColor);
    border: 1.5px solid var(--TextColor);
    width: auto;
    padding: 13px 20px;
    font-size: 18px;
    font-weight: 700;

    appearance: none;

    &:hover, &:focus {
        outline: none;
        background: var(--AltColor);
        border-color: var(--AltColor);
        color: #fff;
    }
}
a.button {
    display:inline-block;
    width:auto;
    border: 1.5px solid var(--TextColor);
}

.table {
    th:not(:last-of-type), td:not(:last-of-type) {
        padding-right: 40px;
    }
}