#app {

    background: url(../images/main-background.png) transparent no-repeat 1% -1100px;
    background-size:1500px;


    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1 0 auto;
    padding-top: 110px;

    @media(min-width:768px){
        // padding-top:200px;
    }
}

.page-content {
    width: 100%;
    position: relative;
    // top: -10px;

    z-index: 1;
    flex: 1;
    // background: var(--BgColor);
    color: var(--TextColor);
}

.layout-container {
    margin:auto;
    width:90%;
    max-width:2000px;
}

.CTA-footer {
    width: 90%;
    margin: 0 auto 70px;
}
