@import url("//hello.myfonts.net/count/3a0b90");


@font-face { /* regular */
    font-family: 'TTCommons';
    src: url('../fonts/TT Commons/webfonts/3A0B90_3_0.eot');
    src: url('../fonts/TT Commons/webfonts/3A0B90_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/TT Commons/webfonts/3A0B90_3_0.woff2') format('woff2'),url('../fonts/TT Commons/webfonts/3A0B90_3_0.woff') format('woff'),url('../fonts/TT Commons/webfonts/3A0B90_3_0.ttf') format('truetype');
    font-weight: 400;
}

@font-face { /* bold */
    font-family: 'TTCommons';
    src: url('../fonts/TT Commons/webfonts/3A0B90_1_0.eot');
    src: url('../fonts/TT Commons/webfonts/3A0B90_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/TT Commons/webfonts/3A0B90_1_0.woff2') format('woff2'),url('../fonts/TT Commons/webfonts/3A0B90_1_0.woff') format('woff'),url('../fonts/TT Commons/webfonts/3A0B90_1_0.ttf') format('truetype');
    font-weight: 700;
}

@font-face { /* DemiBold */
    font-family: 'TTCommons';
    src: url('../fonts/TT Commons/webfonts/3A0B90_0_0.eot');
    src: url('../fonts/TT Commons/webfonts/3A0B90_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/TT Commons/webfonts/3A0B90_0_0.woff2') format('woff2'),url('../fonts/TT Commons/webfonts/3A0B90_0_0.woff') format('woff'),url('../fonts/TT Commons/webfonts/3A0B90_0_0.ttf') format('truetype');
    font-weight: 600;
}

@font-face { /* Medium */
    font-family: 'TTCommons';
    src: url('../fonts/TT Commons/webfonts/3A0B90_2_0.eot');
    src: url('../fonts/TT Commons/webfonts/3A0B90_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/TT Commons/webfonts/3A0B90_2_0.woff2') format('woff2'),url('../fonts/TT Commons/webfonts/3A0B90_2_0.woff') format('woff'),url('../fonts/TT Commons/webfonts/3A0B90_2_0.ttf') format('truetype');
    font-weight: 500;
}


@font-face { /* regular */
    font-family: 'GT Sectra Fine Book';
    src: url('../fonts/GT Sectra/GT-Sectra-Fine-Book.eot');
    src: url('../fonts/GT Sectra/GT-Sectra-Fine-Book.eot?#iefix') format('embedded-opentype'),url('../fonts/GT Sectra/GT-Sectra-Fine-Book.woff2') format('woff2'),url('../fonts/GT Sectra/GT-Sectra-Fine-Book.woff') format('woff'),url('../fonts/GT Sectra/GT-Sectra-Fine-Book.ttf') format('truetype');
    font-weight: 300;
}