.cta-footer {
    // z-index: -1;
    background: var(--BgColor);

    .CTA-footer {
        /* min-height: 40vh; */
        position: absolute;
        bottom: 0;
        width: 100%;
        position: relative;
        // transform: translateY(-100%);
        background: var(--BgColor);
        /*
        display: flex;
        justify-content: center;
         */
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0 5%;
        background:#fff;

        align-items: stretch;
        max-width:920px; 
        margin: 0 auto;       

        @media(min-width: 1921px){
            max-width: 40%;

        }
    }

    &__container {
        padding: 60px 0;

        &.blog-cta {
            padding-bottom: 0;
            width: 70%;
            max-width: 70%;
        }

        @media(max-width: 800px) {
            padding: 70px 25px;
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 70%;
        // outline: 1px solid black;
        @media(min-width: 1200px){
            min-width: 60%;
        }
        @media(min-width: 1400px){
            min-width: 50%
        }
    }

    &__title {
        font-size: 54px;

        @media(max-width: 500px) {
            font-size: 40px;
        }

        font-weight: 600;
        color: var(--AltColor);
        margin-bottom: 34px;
        text-align: center;
    }

    &__subtitle {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        line-height: 27px;
        color: var(--TextColor);

        @media(max-width: 500px) {
            width: 90%;
        }

        &--narrow {
            width: 80%;
        }
    }

    &__form {
        margin-top: 54px;
        width: 100%;
        font-family: "Open Sans",Helvetica,Arial,sans-serif;



        .layout {
            &:nth-of-type(1) {
                .flex:first-of-type {
                    margin-bottom: 28px;
                }
            }

            &:nth-of-type(2) {
                margin-top: 34px;

                @media(max-width: 959px) {
                    margin-top: 28px;
                }
            }
        }

        &--left {
            margin-right: 40px;

            @media(max-width: 959px) {
                margin-right: 0;
            }
        }

        &--bottomleft {
            margin-right: 69px;

            @media(max-width: 959px) {
                margin-right: 0;
            }
        }

        .v-text-field input {
            padding-top: 0;
            padding-bottom: 12px;
            font-size: 18px;
            font-weight: 400;
        }

        .theme--light.v-messages,
        .theme--light.v-input:not(.v-input--is-disabled) input,
        .theme--light.v-input:not(.v-input--is-disabled) textarea .v-input .v-messages__message {
            color: var(--TextColor);
        }

        .theme--light.v-text-field > .v-input__control > .v-input__slot:before,
        .theme--light.v-text-field:not(.v-input--has-state) > .v-input__control > .v-input__slot:hover:before,
        .theme--light.v-text-field.v-input--has-state > .v-input__control > .v-input__slot:before {
            border-color: var(--TextColor);
        }

        .v-text-field > .v-input__control > .v-input__slot:after,
        .v-text-field.v-input--is-focused > .v-input__control > .v-input__slot:after {
            border-color: var(--AltColor);
        }

        .v-input .v-label {
            color: var(--TextColor);
            transform: translateY(-43px);
            font-size: 18px;
            font-weight: 700;
            left: 0 !important;
        }

        &--submit {
            // display: flex;
            @media(max-width: 959px) {
                margin-top: 20px;
            }
        }
    }
    &__submit-button:disabled {
        opacity:.5;
        cursor:default;
    }



    .blog-content > &,
    &.smg-disabled
    {

        .CTA-footer {
            position: static;
            transform: none;
        }
    }
}
