
.page-footer {
    // min-height: 462px;
    min-height: 100%;
    padding: 10px 0;

    @media(max-width: 500px) {
        // padding: 50px 18px;
    }

    background: transparent;
    color: white;
    position: relative;
    display: grid;
    grid-template-columns: [full-start] repeat(24, minmax(max-content, 14rem)) [full-end];
    // row-gap: 83px;
    // column-gap: 20px;
    @media(max-width: 1024px){
        column-gap: 0px;
        grid-template-columns:  [full-start] repeat(12, minmax(max-content, 14rem)) [full-end];
        row-gap: 50px;
    }
    @media(max-width: 767px){
        row-gap: 40px
    }
    @media(max-width: 500px){
        grid-template-columns:  [full-start] repeat(4, minmax(max-content, 14rem)) [full-end];
        column-gap: 13px;
    }
    @media(max-width: 370px){
        grid-template-columns: 1fr 1fr;
    }

    a {
        color:#fff;
        border-bottom:1px solid #fff;
        padding-bottom: 4px;


        &:hover, &:focus {
            color:#fff;
            border-bottom:2px solid #fff;
            padding-bottom: 3px;
        }
    }


    &__description {
        grid-column: 1 / 19;
        // outline: 1px solid white;
        @media(max-width: 1024px){
            grid-column: 1 / -1;
        }

        font-weight: 600;
        h1 {
            font-size: 40px;
            margin-bottom: 21px;
            @media(max-width: 500px){
                font-size: 28px;
            }
        }
        a {
            font-size: 20px;
            /*
            border-bottom: 1px solid white;
            padding-bottom: 2px;
            color: white;
            */
        }
    }
    &__contact {
        // list-style: none;

        // display: grid;
        // grid-template-columns: repeat(3, minmax(min-content, 1fr));
        // justify-items: start;
        // align-items: start;
        // column-gap: 30px;
        // @media(max-width: 1024px){
        //     grid-column: 1 / 20;
        // }
        // @media(max-width: 767px){
        //     grid-column: 1 / -1;

        //     grid-template-columns: repeat(2, minmax(min-content, 1fr));
        //     column-gap: 10px;
        //     row-gap: 30px;
        // }
        &--items {
            justify-self: end;
            @media(max-width: 1024px){
                justify-self: start
            }
            // text-align: left;

            font-weight: 400;
            font-size: 18px;
            @media(max-width: 500px){
                font-size: 14px;
            }
            line-height: 24px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            & > p:first-of-type {

                font-weight: 500;
                font-size: 24px;
                margin-bottom: 17px;
            }
            & > p:last-of-type {
                // border-bottom: 1px solid white;
                // padding-bottom: 2px;
            }
            &:nth-of-type(2){
                grid-column: 22 / span 1;
                margin-right: 10px;
                // background: red;
                @media(max-width: 1024px){
                    grid-column: 1 / span 1; 
                    margin-right: 0;
                }
                @media(max-width: 767px){
                    grid-column: 1 / 5; 
                    grid-row: 2 / 3;
                }
                @media(max-width: 500px){
                    grid-column: 1 / span 2;
                }
                @media(max-width: 370px){
                    grid-column: 1/ 2;
                }
            }
            &:nth-of-type(3){
                margin-right: 10px;
                grid-column: 23 / span 1;
                @media(max-width: 1024px){
                    grid-column: 2 / span 1;
                    margin-right: 0;
                }
                @media(max-width: 767px){
                    grid-column: 5 / span 4;
                    grid-row: 2 / 3;
                }
                @media(max-width: 500px){
                    grid-column: 3 / span 2;
                }
                @media(max-width: 370px){
                    grid-column: 2/ 3;
                }
            }
            &:nth-of-type(4){
                grid-column: 24 / -1;
                @media(max-width: 1024px){
                    grid-column: 3 / span 1; 
                }
                @media(max-width: 767px){
                    grid-column: 1 / span 3;
                    grid-row: 3 / 4;
                }
                @media(max-width: 500px){
                    grid-column: 1 / span 2;   
                }
                @media(max-width: 370px){
                    grid-column: 1/ 2;
                }
            }
            &__address p {
                margin-bottom: 14px;
            }
        }
    }
    &__policies, &__social {
        display: flex;
        list-style: none;
    }
    &__policies {
        align-items: center;
        grid-column: 1 / 20;

        font-weight: 400;
        @media(max-width: 1024px){
            grid-column: 1 / 12;
        }
        @media(max-width: 767px){
            flex-direction: column;
            align-items: flex-start;
        }
        // @media(max-width: 767px){ 
        //     grid-column: 2 / 3;   
        // }
        li:not(:first-of-type) {
            /* 
            // see above, made it general for all links in the footer
            a {
                border-bottom: 1px solid white;
                padding-bottom: 4px;
                color: white;
                &:hover {
                    border-bottom: 2px solid white;
                    color: white;
                }
            }
            */
            @media(max-width: 767px){ 
                margin-top: 15px;
            }
        }
        li:not(:last-of-type){
            margin-right: 10px;
            @media(max-width: 767px){ 
                margin-right: 0;
            }
        }
        li:first-of-type {
            margin-right: 30px;
            @media(max-width: 767px){ 
                margin-right: 0;
            }
        }
        li:nth-of-type(2){
            // border-right: 2px solid white;
            position: relative;
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 10px;
                width: 2px;
                background: white;
                right: -10px;
                top: calc(50% + 1.5px);
                transform: translateY(-50%);
                @media(max-width: 767px){ 
                    display: none;
                }
            }
            // padding-right: 10px
        }
        li:nth-of-type(3), li:nth-of-type(4){
            margin-left: 10px;
            @media(max-width: 767px){ 
                margin-left: 0;
            }
        }
    }
    &__social {
        grid-column: 24 / -1;
        justify-self: end;
        & > *:not(:last-child){
            margin-right: 27px;
        }
        a {
            border-bottom: none;
            padding-bottom: 0;
            &:hover, &:focus {
                border-bottom: none;
                padding-bottom: 0;
            }
        }
        svg {
            width: 21px;
            height: 21px;
            path {
                fill:  white;

            }
        }
        @media(max-width: 1024px){
            grid-column: 1 / 12;
            justify-self: start;

        }
        @media(max-width: 500px){
            // justify-self: start;
            grid-column: 1 / -1;
        }
    }
}
