.about-header {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 1720px;

    @media(max-height: 700px){
        height: 100%;
        margin: 50px auto;
    }
    @media(max-width: 767px){
        height: 60vh;
    }
    @media(min-width: 1921px){
        align-items: flex-start;
    }

    &__container {
        max-width: 1500px;
        margin: 0 150px;
        @media(min-width: 1921px){
            margin: 0 190px;
        }
        @media(max-width: 1700px){
            max-width: 1535px;
            margin: 0 50px;
        }
        @media(max-width: 1440px){
            max-width: 1213px;
            margin: 0 50px;
        }
        @media(max-width: 600px){
            margin: 0 30px;
        }
        // @media(max-width: 500px){
        //     max-width: 341px;
        // }
        h1 {
            font-size: 100px;
            line-height: 110px;
            font-family: 'GT Sectra Fine Book';
            font-weight: 300;
            @media(max-width: 1500px){
                font-size: 80px;
                line-height: 90px;
            }
            @media(max-width: 1024px){
                font-size: 60px;
                line-height: 74px;
            }
            @media(max-width: 767px){
                font-size: 36px;
                line-height: 48px;
            }
            @media(max-width: 358px){
                font-size: 30px;
                line-height: 38px;
            }
        }
    }
}

.work-header {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media(max-height: 700px){
        height: 100%;
        margin: 50px auto;
    }
    @media(max-width: 767px){
        height: 40vh;
    }
    &__container {
        max-width: 1075px;
        margin: 0 190px;
        @media(max-width: 1440px){
            max-width: 984px;
            margin: 0 57px;
        }
        @media(max-width: 1024px){
            max-width: 770px;
            margin: 0 18px;
        }

        h1 {
            font-size: 84px;
            line-height: 86px;

            font-weight: 400;
            @media(max-width: 1440px){
                font-size: 80px;
                line-height: 84px;
            }
            @media(max-width: 1024px){
                font-size: 60px;
                line-height: 64px;
            }
            @media(max-width: 767px){
                font-size: 40px;
                line-height: 50px;
            }
            @media(max-width: 500px){
                font-size: 36px;
                line-height: 40px;
            }
        }
    }
}


.contact-header {
    position: relative;
    @media(max-height: 700px){
        height: 100%;
        margin: 50px auto;
    }
    .work-header__container {
        @media(max-height: 700px){
            // position: absolute;
            top: 0;
        }
        h1, p {
            font-size: 54px;
            line-height: 64px;
            font-weight: 500;
            @media(max-width: 1024px){
                font-size: 44px;
                line-height: 54px;
            }
            @media(max-width: 767px){
                font-size: 28px;
                line-height: 34px;
            }
        }

        h1 {
            margin-bottom: 80px;
        }
        p {
            a {
                border-bottom: 2px solid #FF2222;
            }
        }
    }
}

.blog-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;

    @media(max-width: 1024px) {
        height: 40vh;
    }

    @media(max-height: 750px) {
        height: 100%;
        margin: 30px 0;
    }

    &__container {
        max-width: 1200px;

        @media(max-width: 1440px) {
            max-width: 871px;
        }

        @media(max-width: 1024px) {
            max-width: 813px;
        }

        @media(max-width: 900px) {
            max-width: 90%;
            margin: 0 auto;
        }

        .section-title {
            @media(max-width: 1440px) {
                font-size: 80px;
            }

            @media(max-width: 1024px) {
                font-size: 60px;
                line-height: 64px;
            }

            @media(max-width: 767px) {
                font-size: 36px;
                line-height: 40px;
            }
        }

        &--description {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            font-size: 16px;
            //  font-weight: 600;
            & > *:nth-child(1) {
                margin-right: 20px;
                color: var(--AltColor);
                font-weight: 600;
            }
        }

        &--author {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            font-size: 16px;
        }
    }
}