<template>
  <Layout>
    <div class="layout-container">
      <div v-show="showName">
        <FormLogin @submit-values="setValues" :room-name="formattedRoomName" />
        <!-- <Interlude videosource="landing-pattern-1" /> -->
      </div>
      <div v-show="showContent" style="padding:0 0 70px 0">
        <div class="meet-container">
        <!-- <span>Welcome {{name}}!</span> -->
        <div id="meet"></div>
        </div>
      </div>
    </div>
  </Layout>
</template>

<script>

function titleCase(str) {
   var splitStr = str.toLowerCase().split(' ');
   for (var i = 0; i < splitStr.length; i++) {
       // You do not need to check if i is larger than splitStr length, as your for does that for you
       // Assign it back to the array
       splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);     
   }
   // Directly return the joined string
   return splitStr.join(' '); 
}

import interfaceConfig from '~/assets/jitsi-config/interface_config.json';

//https://github.com/jitsi/jitsi-meet/blob/master/doc/api.md

import FormLogin from '~/components/FormLogin.vue'

export default {
  metaInfo: {
    title: 'Crystal Palace Watch Party'
  },

  components: {
    FormLogin
  },

  data: function() {
    return {
      name:'',
      email: '',
      job: '',
      api: null,
      roomName: 'Crystal-Palace-Watch-Party'
    }
  },

  mounted: function() {
    if (this.$route.params.roomName)
      this.roomName = this.$route.params.roomName
  },

  computed: {
    showName: function() {
      return this.name === '';
    },
    showContent: function() {
      return this.name !== '';
    },
    formattedRoomName: function() {
      return titleCase(this.roomName.replace(/-/g, ' '));
    }
  },

  methods: {

    setValues: function(values) {
      console.log(values)
      const {name, email, job} = values;
      this.name = name;
      this.email = email;
      this.job = job;
      this.runJitsi();
    },

    runJitsi: function() {

      console.log("interfaceConfig:", interfaceConfig);

      var domain = 'jitsi.thetin-dev.services';
      var options = {
        roomName: this.roomName,
        width: '100%',
        height: 700,
        parentNode: document.querySelector('#meet'),
        interfaceConfigOverwrite: interfaceConfig
      };
      this.api = new JitsiMeetExternalAPI(domain, options);

      this.api.executeCommand('displayName', this.name + ((this.job !="")? " | " + this.job : ""));
      this.api.executeCommand('displayEmail', this.email);
    }
  }
}
</script>

<style lang="scss">
.meet-container {
  width:90%;
  margin:0 auto;
  background:#474747;

  iframe {
    margin: auto;
    display: block;
    width:100%;
    height:700px;

    @media(min-width:768px){
      min-width:700px;
    }
  }
}
</style>
