<template>
    <div class="CTA-footer">
        <div class="cta-footer__wrapper">
            <div class="cta-footer__container">
                <h1 class="cta-footer__title">Join the {{roomName}}</h1>
                <v-form class="cta-footer__form"
                        ref="form"
                        @submit.prevent="submitValues">
                    <v-container>
                        <v-layout row
                                wrap>
                            <v-flex xs12
                                    md9>
                                <v-text-field label="Name"
                                            placeholder=""
                                            v-model="formResponses.name"
                                            :error-messages="nameErrors"
                                            required
                                            @input="$v.formResponses.name.$touch()"
                                            @blur="$v.formResponses.name.$touch()"
                                            class="cta-footer__form--bottomleft">1
                                </v-text-field>
                            </v-flex>
                            <!--
                            <v-flex xs12
                                    md6>
                                <v-text-field label="Job title"
                                            placeholder=""
                                            v-model="formResponses.job"
                                            @input="$v.formResponses.job.$touch()"
                                            @blur="$v.formResponses.job.$touch()">1
                                </v-text-field>
                            </v-flex>
                            -->
                        </v-layout>
                        <v-layout row
                                wrap>
                            <v-flex xs12
                                    md9>
                                <v-text-field label="Email"
                                            placeholder=""
                                            v-model="formResponses.email"
                                            :error-messages="emailErrors"
                                            required
                                            @input="$v.formResponses.email.$touch()"
                                            @blur="$v.formResponses.email.$touch()"
                                            class="cta-footer__form--bottomleft">1
                                </v-text-field>
                            </v-flex>
                            <v-flex xs6
                                    md3
                                    class="cta-footer__form--submit"
                                    style="margin: 0 auto">
                                <button class="button button--primary cta-footer__submit-button"
                                        style="width: 100%">Join</button>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-form>
            </div>
        </div>
    </div>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, minLength, email } from 'vuelidate/lib/validators';

export default {
  mixins: [validationMixin],
  props: {
      roomName: {
        type: String
      }
  },
  data () {
    return {
      formResponses: {
        name: '',
        job: '',
        email: ''
      }
    }
    },
  validations: {
    formResponses: {
      name: {
        required
        // minLength: minLength(2)
      },
      job: {
        required
      },
      email: {
        required,
        email
      }
    }
  },
  computed: {
    nameErrors () {
        const errors = []
        if (!this.$v.formResponses.name.$dirty) return errors

        if (!this.$v.formResponses.name.required) {
            errors.push('Name is required.')
        }

        return errors
    },
    jobErrors () {
        const errors = []
        if (!this.$v.formResponses.job.$dirty) return errors

        if (!this.$v.formResponses.job.required) {
            errors.push('Job title is required.')
        }

        return errors
    },
    emailErrors () {
      const errors = []
        if (!this.$v.formResponses.email.$dirty) return errors

        if (!this.$v.formResponses.email.required) {
            errors.push('Email is required.')
        }
        if (!this.$v.formResponses.email.email) {
            errors.push('Email is not valid')
        }
        return errors
    }
  },
  methods: {
      submitValues(){
          const {name, job, email} = this.formResponses;
          this.$emit('submit-values', {name, job, email})
      }
  }
    
}
</script>