<template>
  <div class="navbar navbar--inverse">
    <div class="layout-container">
    <a class="navbar__logo-wrapper" href="/">
      <img src="../assets/images/crystalpalace.png" alt="Crystal Palace Football Club" /> <h1>Crystal Palace F.C.</h1>
    </a>

    <!-- 
    <button type="button" aria-label="Toggle navigation" aria-controls="navbar__list-wrapper" class="navbar__toggler">
      <span class="icon-bar icon-bar1"></span>
      <span class="icon-bar icon-bar2"></span>
      <span class="icon-bar icon-bar3"></span>
    </button>
    -->

    <!-- 
    <div class="navbar__list-wrapper">
        <div class="navbar__list">
            Helping you confidently navigate <br />an ever more complex digital world.
        </div>
    </div>
    -->
    <!--
    <nav class="navbar__list-wrapper" aria-expanded="false">
      <ul class="navbar__list">
        <li><a href="/about" :class="{active: isSelected('About')}"><span>About</span></a></li>
        <li><a href="/work" :class="{active: isSelected('Work')}"><span>Work</span></a></li>
        <li><a href="/insights" :class="{active: isSelected('Blog')}"><span>Insights</span></a></li>
        <li><a href="/tinnovation" :class="{active: isSelected('Tinnovation')}"><span>Tinnovation</span></a></li>
        <li><a href="/contact" :class="{active: isSelected('Contact')}"><span>Contact</span></a></li>
      </ul>
    </nav>
    -->
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Header'
  }
</script>

<style lang="scss">
  // not including ipad input mobile
  // review iframe requirement changes

  $navbar-desktop-breakpoint: 768px;



  .slide {
    transition: all .25s ease-in-out;
  }

  .slide--reset {
    transform: translateY(0);
  }

  .slide--up {
    transform: translateY(-120%);
  }


  .navbar {
    color: #fff;
    box-shadow:none;
    background:transparent;



    @media(min-width:$navbar-desktop-breakpoint){
  }


  position: absolute;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: space-between;
  padding: 19px 40px;
  color: white;
  font-family: 'TTCommons';
  font-weight: 400;
  z-index: 100;

  @media(max-width:($navbar-desktop-breakpoint - 1)) {
    padding: 23px 20px;

  }

    &__logo-wrapper {

      border:none;

      display:flex;
      flex-direction:row;
      align-items:center;

      img {
        width:35px;
        height:35px;
      }

      h1 { 
        margin: 0;
        letter-spacing: .05em;
        font-family: "Open Sans",Helvetica,Arial,sans-serif;
        font-weight: 800;
        padding-left: 20px;
        color: #fff;
        font-size:18px;
        text-transform: uppercase;
      }

      @media(min-width:$navbar-desktop-breakpoint){
        img {
          width:90px;
          height:90px;
        }
        h1 {
          font-size: 24px;
          font-size: 1.33333em;
        }
      }

      &:hover, &:focus {
        border:none;
      }
    }

  /*
  a.navbar__logo-wrapper,
  a.navbar__logo-wrapper:focus,
  a.navbar__logo-wrapper:hover {
    border: none;
  }

  &__logo {
    height: 32px;
    width: auto;
    fill: var(--BgColor);

    @media(max-width:($navbar-desktop-breakpoint - 1)) {
      height:22px;
    }
  }
*/



  &__toggler {

    @media(min-width:$navbar-desktop-breakpoint) {
      display:none;
    }

    height: 50px;
    width: 50px;
    background: none;
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
    right: -8px;
    bottom: 8px;

    .icon-bar {
      display: block;
      position: absolute;
      opacity: 1;
      width: 30px;
      height: 3px;
      left: 16px;
      background:var(--TextColor);

      transition: all .2s ease-in-out;

      &.icon-bar1 {
        top:22px;
      }
      &.icon-bar2 {
        top: 30px;
      }
      &.icon-bar3 {
        top: 38px;
      }
    }
  }



  
  &__list-wrapper {
    display: flex;
  }



  &__list {
    display: flex;
    list-style: none;
    font-size: 16px;
    li {
      a {
        cursor: pointer;
        border:0;
        color:var(--TextColor);
        padding-bottom: 2px;

        &.active span {
          border-bottom: 2px solid var(--AltColor);
        }

        &:hover span, &:focus span{
          color: var(--TextColor);
          border-bottom: 2px solid var(--AltColor);
        }
      }
    }

    & > *:not(:last-child) {
      margin-right: 35px;
    }

  }

  @media(max-width:(($navbar-desktop-breakpoint) - 1)) {
    .navbar__list-wrapper {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;
    }

    .navbar__list {
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: max-height .2s ease-in-out;
      width: 100%;
      li {
           width:100%;
           padding:5px 0 15px;
           a {
               display:block;
           }
      }

    }
  }
}


  .menuExpanded {
    .navbar__toggler .icon-bar1 {
      top: 30px;
      transform: rotate(135deg);
    }

    .navbar__toggler .icon-bar2 {
      opacity: 0;
      left: 33px;
      width: 0;
    }

    .navbar__toggler .icon-bar3 {
      top: 30px;
      transform: rotate(-135deg);
    }

    .navbar__list {
      @media(max-width:$navbar-desktop-breakpoint) {
        max-height: 100vh;
      }
    }

    .navbar.slide--up {
      transform: translateY(0);
    }
  }

</style>
