<template>
  <div id="app">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" />
    <Header />
    <main role="main" class="main-content">
			<div class="page-content">
				<slot/>
			</div>
		</main>
    <Footer />
  </div>
</template>

<script>
import Header from '~/components/Header.vue'
import Footer from '~/components/Footer.vue'

export default {
  components: {
    Header,
    Footer
  }
}
</script>


<style lang="scss">
</style>
